%h1
  Preview for #{@site.site_name}
  = link_to "<i class='glyphicon glyphicon-new-window'></i>".html_safe, @site.preview_url, target: "_blank", title: "Open Preview"
  = link_to "<i class='glyphicon glyphicon-refresh'></i>".html_safe, build_and_preview_site_path, title: "Refresh Preview"
%hr
.row
  .col-sm-8
    %p
      The preview for #{@site.statixite_name} is ready and available at
      = link_to @site.preview_url, @site.preview_url, :target => "_blank"
